.dropdown {
  &-container {
    position: relative;
  }

  &__header {
    text-align: right;
  }

  &__label {
  }

  &__trigger {
    width: 24px;
    height: 24px;
    padding: 0;
    background-color: #fff;

    &:hover,
    &_active {
      background-color: #eef7fc;

      .dropdown__trigger__icon {
        background-color: #00a0ec;

        &::after,
        &::before {
          background-color: #00a0ec;
        }
      }
    }

    &__icon {
      margin: 0 auto;
      background-color: #afb6c6;
      transition: background-color 250ms ease;

      &::after,
      &::before {
        transition: background-color 250ms ease;
        background-color: #afb6c6;
      }
    }
  }

  &__data {
    background: #fff;
    border: 0.1px solid #eef0f6;
    box-shadow: 0px 8px 28px rgba(0, 0, 0, 0.05), 2px 2px 15px rgba(0, 44, 175, 0.05);
    border-radius: 6px;
    padding: 16px;
    position: absolute;
    right: 0;
    top: 28px;
    visibility: hidden;
    opacity: 0;
    transition: transform, opacity 250ms ease;

    &_active {
      transform: translateY(0);
      visibility: visible;
      opacity: 1;
    }
  }

  &__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    margin-bottom: 16px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__link {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    align-items: center;
    mix-blend-mode: normal;
    color: #1e212a;
    display: block;

    &_iconical {
      display: flex;
      align-items: center;
      flex: 0 0 auto;
      white-space: nowrap;

      svg,
      img {
        margin-right: 8px;
      }
    }
  }
}
